.sugarlogo{
   width: 15%;
}
.sugarnavtop{
    background-color: black;
    padding: 10px;
}
.sugarlogoimg{
padding: 5px 20px;

}
.searchtop{
    width:45%;
    align-self: center;
    margin-left: 10px;
}